<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'core/css/all.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css">
    {% block custom_css %}
    <link rel="stylesheet" href="{% static 'core/css/master.css' %}">
    {% endblock custom_css %}
</head>
<body>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                {% include 'core/sidebar.html' %}
            </div>
            <div class="col-sm-10">
                {% block content %}
                
                {% endblock content %}
            </div>
        </div>
    </div>
    

    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'core/js/jQuery_production.js' %}"></script>
    <script src="{% static 'core/js/popper.js' %}"></script>
    {% block custom_js %}
    <script src="{% static 'core/js/custom.js' %}"></script>
    {% endblock custom_js %}
</body>
</html>