{% extends 'core/base.html' %}
{% block content %}
{% block title %}Services{% endblock title %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <div class="row text-white mb-5 text-center">
        <div class="col-sm-4"><i class="mb-3 fa-regular fa-magnifying-glass-dollar fa-2x c-icon"></i>
            <h3>SEO</h3>
            <p class="sum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, aut.</p>
        </div>
        <div class="col-sm-4"><i class="mb-3 fa-regular fa-palette fa-2x c-icon"></i>
            <h3>Web Design</h3>
            <p class="sum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, aut.</p>
        </div>
        <div class="col-sm-4"><i class="mb-3 fa-regular fa-code fa-2x c-icon"></i>
            <h3>Web Development</h3>
            <p class="sum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, aut.</p>
        </div>
        <div class="row text-white mb-5 text-center py-5">
            <div class="col-sm-4"><i class="mb-3 fa-brands fa-android fa-2x c-icon"></i>
                <h3>Android</h3>
                <p class="sum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, aut.</p>
            </div>
            <div class="col-sm-4"><i class="mb-3 fa-brands fa-apple fa-2x c-icon"></i>
                <h3>iOS</h3>
                <p class="sum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, aut.</p>
            </div>
            <div class="col-sm-4"><i class="mb-3 fa-regular fa-rectangle-ad fa-2x c-icon"></i>
                <h3>Advertising</h3>
                <p class="sum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, aut.</p>
            </div>
            <div class="row text-white mt-5 text-center">
                <div class="col-sm-4"><i class="mb-3 fa-regular fa-pen fa-2x c-icon"></i>
                    <h3>Logo Design</h3>
                    <p class="sum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, aut.</p>
                </div>
                <div class="col-sm-4"><i class="mb-3 fa-regular fa-server fa-2x c-icon"></i>
                    <h3>Hosting</h3>
                    <p class="sum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, aut.</p>
                </div>
                <div class="col-sm-4"><i class="mb-3 fa-regular fa-headset fa-2x c-icon"></i>
                    <h3>Support</h3>
                    <p class="sum">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio, aut.</p>
                </div>
            </div>
{% endblock content %}